In [3]:
import pandas as pd

In [4]:
game_path = "purchase_data.json"

game_file = pd.read_json(game_path)
game_file.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [35]:
#Player Count
player_count = game_file["SN"].count()
player_count_df = pd.DataFrame({"Total Players": player_count}, index=[0])
player_count_df

   Total Players
0            780

In [6]:
#Purchasing Analysis (Total)
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue
unique_items = game_file["Item ID"].value_counts().count()
print("Number of unique items: " + str(unique_items))

Number of unique items: 183

In [7]:
#Average Purchase Price
average_purchase_price = game_file["Price"].mean()
print("Average Purchase Price: " + str(average_purchase_price))

Average Purchase Price: 2.931192307692303

In [22]:
total_purchases = game_file["Item ID"]
total_purchases.count()

780

In [9]:
total_revenue = game_file["Price"].sum()
print("Total Revenue: " + str(total_revenue))

Total Revenue: 2286.33

In [40]:
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Average Price": average_purchase_price,
                                      "Number of Purchases": total_purchases,
                                      "Total Revenue": total_revenue}, index=[0])
Purchasing_Analysis_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       2.931192                  165                     183        2286.33

In [10]:
#Gender Demographics**

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

male_players = game_file.loc[game_file["Gender"] == "Male", :]
count_of_male = male_players["SN"].count()
print(count_of_male)
percentage_male = count_of_male / player_count
print(percentage_male)

633
0.8115384615384615

In [11]:
#female players
female_players = game_file.loc[game_file["Gender"] == "Female", :]
count_of_female = female_players["SN"].count()
print(count_of_female)
percentage_female = count_of_female / player_count
print(percentage_female)

136
0.17435897435897435

In [12]:
other_players = game_file.loc[game_file["Gender"] == "Other / Non-Disclosed", :]
count_of_other = other_players["SN"].count()
print(count_of_other)
percentage_other = count_of_other / player_count
print(percentage_other)

11
0.014102564102564103

In [64]:
gender_groupdf = game_file.groupby(['Gender'])
gender_groupdf.count().head()

                       Age  Item ID  Item Name  Price   SN
Gender
Female                 136      136        136    136  136
Male                   633      633        633    633  633
Other / Non-Disclosed   11       11         11     11   11

In [68]:
percentage = gender_groupdf["Age"].count() / player_count
count = gender_groupdf["SN"].count()
gender_demographicdf = pd.DataFrame({"Total Players": count, "Percentage": percentage})
gender_demographicdf

                       Percentage  Total Players
Gender
Female                   0.174359            136
Male                     0.811538            633
Other / Non-Disclosed    0.014103             11

In [73]:
#Purchasing Analysis (Gender)**
#Purchase Count
gender_groupdf.head()
purchase_count = gender_groupdf["Item ID"].count()
print(purchase_count)
#Average Purchase Price
average_purchase = gender_groupdf["Price"].mean()
print(average_purchase)
#Total Purchase Value
total_purchase = gender_groupdf["Price"].sum()
print(total_purchase)
#Normalized Totals

purchasing_analysisdf = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": average_purchase,
                                     "Total Purchase Price": total_purchase})
purchasing_analysisdf

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64
Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64
Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

,Average Purchase Price,Purchase Count,Total Purchase Price
Gender,,,
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

In [17]:
normalized = (max - min)/avg * price

633
2.9505213270142154
1867.68

11
3.2490909090909086
35.739999999999995